*{
  font-family: "Roboto", sans-serif;
}


.slider-container {
    width: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
  }
  
  .slider {
    display: flex;
    align-items: center;
    position: relative;
    height: 100px; 
  }
  
  .slide-track {
    display: flex;
    animation: scroll 150s linear infinite;
    width: calc(250px * 2 * 27); 
  }
  
  .slide {
    width: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  